<ion-view view-title="Home">
  <ion-content padding="true">
    <h1 style="text-align:center;">AddMe <br><small class="positive">all of your contact information in a simple QR code</small></h1>
    <hr>
    <ion-list>
    <a href="#/app/user" class="button button-block button-positive">Profile</a>
    <a href="#/app/scan" class="button button-block button-positive">Scan</a>
    <a href="#/app/contacts" class="button button-block button-positive">Contacts</a>
  </ion-list>
  </ion-content>
</ion-view>
